body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px; }

/* section - jumbotron */
.jumbotron {
  background-color: #31344e;
  color: #fff; }
  .jumbotron h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 65px;
    margin-top: 155px;
    margin-bottom: 45px; }
  .jumbotron p {
    font-size: 22px; }
  .jumbotron .btn {
    font-size: 13px;
    font-weight: bold;
    padding: 20px 55px;
    margin-top: 80px;
    margin-bottom: 155px;
    background-color: #cb4746;
    color: #fff;
    border: 0; }

/* navigation */
nav {
  height: 50px;
  margin: 0 auto; }
  nav ul {
    margin: 0;
    list-style-type: none;
    float: right; }
  nav li {
    display: inline-block;
    width: 150px; }
  nav a {
    line-height: 50px;
    padding: 0 20px;
    display: block;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    text-decoration: none; }
    nav a:hover {
      opacity: .3;
      cursor: pointer;
      color: #fff;
      text-decoration: none; }

/* section - features */
.features {
  text-align: center;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 125px; }

.big-icon {
  margin-bottom: 20px; }
  .big-icon i {
    font-size: 60px;
    color: #cb4746; }
  .big-icon h1 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 25px; }
  .big-icon p {
    color: #6c7279;
    line-height: 23px; }
  .big-icon [class*="col-"] {
    padding-right: 15px;
    padding: 30px 12px; }
    .big-icon [class*="col-"]:hover h1 {
      color: #cb4746; }

.shadow:hover {
  box-shadow: 0 8px 6px -6px #cb4746;
  transition: 0.4s; }

/* section - works */
.works [class*="col-"] {
  padding-left: 0;
  padding-right: 0; }
  .works [class*="col-"] h3 {
    font-size: 14px;
    font-weight: bold; }
  .works [class*="col-"] p {
    font-size: 14px; }

.photo img {
  width: 100%;
  display: block;
  height: 240px;
  padding-left: 0;
  padding-right: 0; }

.layer {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  background: rgba(203, 71, 70, 0.4);
  transition: .5s; }

.layer:hover {
  opacity: 1; }

.layer-center {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin: auto; }

/* section - team */
.team {
  padding: 100px 0; }
  .team h2 {
    font-size: 22px; }
  .team h3 {
    font-size: 13px;
    color: #cb4746; }
  .team p {
    color: #6c7279;
    line-height: 23px; }
  .team i {
    color: #808080;
    border: 1px solid;
    padding: 9px;
    font-size: 13px; }
    .team i:hover {
      color: #fff;
      background-color: #808080; }

/* section - clients */
.clients img {
  width: 100%;
  height: 400px; }

.clients [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }

.item {
  height: 400px;
  width: 100%;
  background-color: #53354a;
  position: relative; }
  .item .carousel-caption {
    text-align: left;
    position: absolute;
    top: 20%; }
  .item h1 {
    font-family: 'Cardo', serif;
    font-size: 30px;
    font-style: italic; }
  .item p {
    font-size: 13px;
    font-weight: bold; }

/* section - download */
.download {
  text-align: center;
  margin: 0 auto;
  padding: 100px 0px; }
  .download h2 {
    font-size: 28px;
    font-weight: lighter; }
  .download p {
    font-weight: bold; }
  .download button {
    text-align: center;
    background-color: #cb4746;
    border: none;
    font-size: 20px;
    padding: 20px 80px;
    margin-top: 40px;
    color: #fff; }
    .download button:hover {
      opacity: 0.7;
      cursor: pointer; }

/* section - footer */
.footer {
  background-color: #3a3e64; }

.footer-top {
  padding: 10px 0;
  margin: 0 auto;
  text-align: center; }
  .footer-top h1 {
    color: #fff;
    font-weight: bold;
    font-size: 15px; }
  .footer-top p {
    color: #71748b;
    line-height: 23px; }
  .footer-top i {
    padding: 10px;
    font-size: 14px;
    color: #fff;
    border: 2px #fff solid;
    margin: 0 7px; }
    .footer-top i:hover {
      color: #3a3e64;
      background-color: #fff; }

.footer-bottom {
  padding: 10px 0;
  background-color: #313454;
  text-align: center;
  color: #656670; }

.heart {
  color: #cb4746; }

.line {
  color: #fff; }

@media (max-width: 992px) {
  .team {
    text-align: center; }
    .team div div {
      padding: 30px; } }

@media (max-width: 767px) {
  .works {
    margin-left: 15px;
    margin-right: 15px; }
  .download {
    padding-right: 30px;
    padding-left: 30px; } }

/*# sourceMappingURL=style.css.map */